<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {% load static %}
  <link rel="stylesheet" href="{% static "frontEnd/styles.css" %}" />
  {% load static %}
  <link rel="shortcut icon" type="image/jpg" href="{% static "frontEnd/favicon.jpg" %}" />
  <title>IEEE SUSTech Student Branch</title>
</head>
<body>
<div id="app">
    <!-- React will load here -->
</div>
</body>
{% load static %}
<script src="{% static "frontEnd/main.js" %}"></script>
</html>