@tailwind base;
@tailwind components;
@tailwind utilities;

.searchBar::placeholder {
	color: white;
	opacity: 1;
}

.searchBar::-ms-input-placeholder {
	color: white;
}

@keyframes slide {
	0% {
		transform: translate(0);
	}
	100% {
		transform: translate(-1280px);
	}
}

.scrollingIMG {
	background: url(../static/frontEnd/ribbon.png) repeat-x;
	height: 154px;
	width: 3840px;
	animation: slide 15s linear infinite;
}

#welcome {
	font-weight: bolder;
}
